@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gold: #D4AF37;
  --gold-dark: #B8860B;
  --blue: #0056B3;
  --blue-light: #4682B4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--gold);
  --color-gold-dark: var(--gold-dark);
  --color-blue: var(--blue);
  --color-blue-light: var(--blue-light);
  --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-lora), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
